<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文件下载</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container">
<br/>
<h1 align="center">下载列表</h1>
<br/><br/>
<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>文件名称</th>
            <th>上传时间</th>
            <th>下载</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="file:${fileList}">
            <th scope="row" th:text="${file.id}"/>
            <td th:text="${file.name}"></td>
            <td th:text="${file.create_time}"></td>
            <td><a th:href="${file}">下载</a></td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>