<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>在线人数查看</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container">
<br/>
<h1 align="center">在线用户账号列表</h1>
<h2>当前在线人数</h2><h2 align="center" th:text="${userNum}"></h2>
<br/><br/>
<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>在线用户账号</th>
            <th>创建时间</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user:${userList}">
            <th scope="row" th:text="${user.id}"/>
            <td th:text="${user.username}"/>
            <td th:text="${user.create_time}"/>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>