<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body>
      <form th:action="@{/user/login}" method="post">
          <input type="text" name="username" id="username">
          <input type="text" name="password" id="password">
          <input type="submit" value="登录">
      </form>
        <a th:href="@{/user/toRegister}">注册用户</a>
</body>
<script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
<script type="text/javascript">
    function kickout() {
        var href=location.href;
        if (href.indexOf("kickout")>0)
        {
            alert("您的账号在另一个在登录");
        }
    }
    window.onload=kickout();
</script>
</html>