<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container">
<h1 align="center">账号登录</h1>
<div class="col-sm-4 col-sm-offset-4" align="center">
      <form th:action="@{/user/login}" method="post">
          <div class="form-group">
              <label for="username" class="control-label col-sm-2">username</label>
                <div>
                    <input type="text" name="username" id="username" class="form-control" placeholder="username">
                </div>
          </div>
              <div class="form-group">
                  <label for="username" class="control-label col-sm-2">password</label>
                    <div>
                        <input type="text" name="password" id="password" placeholder="password" class="form-control">
                    </div>
              </div>
          <div class="form-group">
              <div class="control-label">
                <input type="submit" value="登录" class="btn btn-info">
                  <a th:href="@{/user/toRegister}" class="btn btn-info">注册</a>
              </div>
          </div>
      </form>
</div>
</body>
<script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
<script type="text/javascript">
    function kickout() {
        var href=location.href;
        if (href.indexOf("kickout")>0)
        {
            alert("您的账号在另一个在登录");
        }
    }
    window.onload=kickout();
</script>
</html>