<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centerm.fud_demo.dao.AdminDao">
    <select id="getAllUser" resultType="com.centerm.fud_demo.entity.User">
        SELECT user.id, user.username, user.password, user.create_time createTime, user.state, user.role_id roleId
        FROM fud.user
    </select>
    <select id="getUserState" resultType="int" parameterType="long">
        SELECT fud.user.state
        FROM fud.user
        WHERE fud.user.id=#{userId}
    </select>
    <update id="banUser" parameterType="long">
       UPDATE fud.user
       SET fud.user.state=1
       WHERE fud.user.id=#{userId}
    </update>
    <update id="releaseUser" parameterType="long">
       UPDATE fud.user
       SET fud.user.state=false
       WHERE fud.user.id=#{userId}
    </update>
    <select id="getUserExceptAdminAndSuperVIP" resultType="com.centerm.fud_demo.entity.User" parameterType="long">
        SELECT user.id, user.username, user.password, user.create_time createTime, user.state, user.role_id roleId
        FROM fud.user
        WHERE fud.user.role_id!=2 AND fud.user.role_id!=3
    </select>
</mapper>