<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centerm.fud_demo.dao.AdminDao">
    <select id="getAllUser" resultType="com.centerm.fud_demo.entity.User">
        SELECT *
        FROM fud.user
    </select>
    <select id="getUserState" resultType="int" parameterType="int">
        SELECT fud.user.state
        FROM fud.user
        WHERE fud.user.id=#{user_id}
    </select>
    <update id="banUser" parameterType="int">
       UPDATE fud.user
       SET fud.user.state=1
       WHERE fud.user.id=#{user_id}
    </update>
    <update id="releaseUser" parameterType="int">
         UPDATE fud.user
       SET fud.user.state=0
       WHERE fud.user.id=#{user_id}
    </update>
    <select id="getOnlineUser" resultType="com.centerm.fud_demo.entity.User">
        SELECT fud.user.*
        FROM fud.user
        WHERE fud.user.is_online=1
    </select>
</mapper>