<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centerm.fud_demo.dao.UserDao">
    <select id="findUsernameById" parameterType="int" resultType="string">
        SELECT fud.user.username,fud.role.role_name
        FROM fud.user u,fud.role r,fud.user_role ur
        WHERE u.id=#{id}
        AND u.id=ur.user_id
        AND r.id=ur.role_id
    </select>
    <select id="findUserByUsernameAndPassword" resultType="com.centerm.fud_demo.entity.User">
        SELECT fud.user.*
        FROM  fud.user
        WHERE fud.user.username=#{param1} and fud.user.password=#{param2}
    </select>
    <select id="findByUsername" resultType="com.centerm.fud_demo.entity.User" parameterType="string">
        SELECT *
        FROM fud.user
        WHERE username=#{username}
    </select>
    <insert id="createUser" useGeneratedKeys="true" keyProperty="id" parameterType="com.centerm.fud_demo.entity.User">
        INSERT INTO fud.user(username,password,create_time,state,is_online)
        VALUES (#{username},#{password},now(),0,0)
    </insert>
    <update id="updateUser" parameterType="com.centerm.fud_demo.entity.User">
        UPDATE fud.user
        SET fud.user.password=#{password}
        WHERE fud.user.id=#{id}
    </update>
    <select id="findRoles" resultType="string" parameterType="string">
        SELECT r.role_name
        FROM fud.user u,fud.role r,fud.user_role ur
        WHERE u.username=#{username}
        AND u.id=ur.user_id
        AND r.id=ur.user_id
    </select>
    <select id="findPermissions" resultType="string" parameterType="string">
        SELECT p.permission
        FROM fud.user u,fud.role r,fud.permission p,fud.role_permission rp,fud.user_role ur
        WHERE u.username=#{username}
        AND u.id=ur.user_id
        AND r.id=ur.role_id
        AND r.id=rp.role_id
        AND p.id=rp.permission_id
    </select>
    <update id="setUserOnline" parameterType="int">
        UPDATE fud.user
        SET fud.user.is_online=1
    </update>
    <update id="setUserOffline" parameterType="int">
        UPDATE fud.user
        SET fud.user.is_online=0
    </update>
    <select id="getUserOnlineState" parameterType="int" resultType="int">
        SELECT fud.is_online
        FROM fud.user
        WHERE fud.user.id=#{user_id}
    </select>
</mapper>